section.sectionBoard {
  outline: none;
  min-height: min-content;
  text-align: center;
  background-blend-mode: multiply;
  background-image: url(../../../public/images/blue_backg.png);

  position: relative;
}

.baordList img {
  width: 10em;
  height: 10em;
}

section.sectionBoard h2 {
  padding: 2em 0 1em;
}

section.sectionBoard h3 {
  color: var(--body-background-color);
  filter: drop-shadow(0 2px 2px #222);
  min-height: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.totalScreenBackgroung {

  position: relative;
  margin: 0 auto;
  min-height: 85vh;
  margin: 0 auto;
  background-size: contain;
}

.baordList {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 5em;
  z-index: 3;
  position: relative;
  flex-wrap: wrap;
  gap: 1.3em;
  justify-content: center;
  padding: 0 1em;

}

.baordList p {
  font-size: 16px;

}

.baordList li {
  position: relative;
  margin: 0 0 2em;
  display: flex;
  padding: 1em 1em 2.5em;
  flex-direction: column;
  max-width: 20em;
  flex-basis: 20em;
  z-index: 0;
  background-image: url(../../../public/images/backgreen.png);
  border-radius: 2em;
}

.baordList li a {
  font-size: 0.75em;
}


.jeffrey .imgWrap {
  aspect-ratio: 419/559;
}

.susan .imgWrap {
  aspect-ratio: 2/3;
}

.Kirse .imgWrap {
  aspect-ratio: 4/3;
}

.imgWrap2 {
  min-width: 70%;
  background-position: center;
  background-size: cover;
  aspect-ratio: 2/3;
  border-radius: 2em;
  border: 4px solid var(--olive-green);
  margin: 0.5em auto;
}

.jeffrey .imgWrap2 {
  background-image: url(../../../public/images/jeffrey_photo.jpeg);
}

.susan .imgWrap2 {

  background-image: url(../../../public/images/SUSAN_KANDEL_foto.png);
}

.Kirse .imgWrap2 {
  background-image: url(../../../public/images/KC_foto.png);
}

.gustavo .imgWrap2 {
  background-image: url(../../../public/images/gustavo_photo.jpg);
}

.giuseppe .imgWrap2 {
  background-image: url(../../../public/images/macedonio_foto.png);
}

.anibal .imgWrap2 {
  background-image: url(../../../public/images/anibal_foto.jpeg);
}

.sara .imgWrap2 {
  background-image: url(../../../public/images/Sara_photo.jpeg);
}

.hojaDecor {
  position: absolute;
  aspect-ratio: 238/165;
  height: 5em;
  bottom: 0;
  left: -3em;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../../public/images/hoja1.png);
}


.hojasDecor2 {
  position: absolute;
  aspect-ratio: 238/165;

  height: 5em;
  bottom: -0.6em;
  right: -2.5em;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../../public/images/hojas8.png);
  transform: rotate(116deg);

}

.hojasDecor {
  position: absolute;
  aspect-ratio: 238/165;

  height: 5em;
  bottom: -0.6em;
  right: -3em;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../../public/images/hojas14.png);

}


.stepsDecor {
  position: absolute;
  aspect-ratio: 238/165;
  height: 8em;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../../public/images/steps.png);

}

.hojasDecor3 {
  position: absolute;
  aspect-ratio: 199/295;
  height: 7.5em;
  top: -0.8em;
  left: 0.5em;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(-1, 1) rotate(45deg);
  background-image: url(../../../public/images/hojas1.png);

}

.hojasDecor4 {
  position: absolute;
  aspect-ratio: 445/376;
  height: 6em;
  top: 3.3em;
  left: -2em;
  z-index: -1;

  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(-1) rotate(91deg);
  background-image: url(../../../public/images/hojas12.png);

}


.personText {
  max-height: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.personText.expanded {
  max-height: fit-content;
}


.sectionBoard button {
  border: none;
  margin: 1em 1em 1em auto;
  background-color: var(--orange1);
  color: var(--body-background-color);
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: var(--fontSizeM);

}