section.section9 {
  min-height: min-content;
  text-align: center;
  background-image: url(../../../public/images/backgreen.png), url(../../../public/images/plantwhite.png), url(../../../public/images/steps.png);
  /* background-image: url(../../../public/images/plantwhite.png); */
  background-size: cover, 12em, 12em;
  background-repeat: repeat, no-repeat, no-repeat;
  background-attachment: local, fixed, local;
  background-blend-mode: soft-light;
  background-position: center, bottom left, top 2em right 2em;
  text-align: center;

  --people-size-vert: 10em;

}

.section9 p {
  color: var(--blueOrg4)
}



.greenText {
  padding: 0.5em 1em;
  background-color: #4fad51;
  border-radius: 2em;
  margin: 0 auto 0 1em;
  width: fit-content;
  color: var(--body-background-color);
}

section.section9 h2 {
  padding: 1.5em;
}

.firstRow {
  padding: 2em 1em 0;
  font-size: 16px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color:var(--blueOrg4);
}

.col1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: min-content;
}

.peopleTextWrap {
  display: flex;
  justify-content: space-evenly;
}



.peopleImage {
  height: var(--people-size-vert);
  content: " ";
  background-image: url(../../../public/images/people1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  aspect-ratio: 466/189;
}



.col1PeopleSub {
  width: 42%;
  padding: 0 6px;
}

.col1PeopleSub1 {
  width: 54%;

}

.col2 {
  display: flex;
  flex-direction: row;
  max-width: 30%;
  justify-content: center;
}

/*executive and women*/
.col2>div {
  position: relative;
  padding: 2em 0 2em 4em;
  margin-left: 1.5em;
  margin-top: 1.5em;
  font-size: 0.9em;
}

.col2>div::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 100%;
  width: 3em;
  content: " ";
  background-image: url(../../../public/images/executiveperson.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.col2>div:nth-child(2):after {

  background-image: url(../../../public/images/woman1.png);
}

.totalScreenBackgroung {

  position: relative;
  margin: 0 auto;
  /* min-height: 70vh; */
  max-width: 60em;
  min-height: 338px;
  margin: 0 auto;
  background-size: contain;
  padding: 0 1em;
}


.wave {
  display: block;
  position: relative;
  min-height: 40px;
  width: 100%;
  background-image: url(../../../public/images/processGround.png);
  transform: scale(1, 1);
  margin-bottom: 40px;
}

.wave:before {
  content: " ";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  right: -25%;
  top: 20px;

  background-image: url(../../../public/images/backgreen.png);
}

.wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;

  background-image: url(../../../public/images/processGround.png);
  left: -25%;
  top: -240px;
  clip-path: ellipse(100% 15% at -15% 100%);
}

.bracket {
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 13px 0;
  position: relative;
}

.bracket:after,
.bracket:before {
  position: absolute;
  width: 3px;
  height: 9px;
  background-color: white;
  bottom: 0;
  left: 0;
  content: " ";
}

.bracket:before {
  right: 0;
  left: auto;
}

.bracketArrow {
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}


@media (min-width: 60em) {
  .firstRow {
    flex-direction: row;
  }

  .col2 {
    flex-direction: column;
  }
}