section.sectionQuejas {
  outline: none;
  min-height: min-content;
  text-align: center; 
  

  background-image: url(../../../public/images/blue_backg.png), url(../../../public/images/plantwhite.png);
  /* background-image: url(../../../public/images/plantwhite.png); */
  background-size: cover, 12em;
  background-repeat: repeat, no-repeat;
  background-attachment: local, fixed;
  background-blend-mode: soft-light;
  background-position: center, top 7em left -1em;
  


  position: relative;
  background-color: #0475b5;
}

.sectionQuejas dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: none;
  padding: 2em;
  border-radius: 1.5em;
  width: 15em;
  height: fit-content;
}

.sectionQuejas dialog::backdrop {
  background-color: #0475b5;
  opacity: 0.7;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;

  height: fit-content;
}

.dialogContent svg{
  font-size: 3.5em;
  margin-bottom: 0.5em;
  display: none;
}

.loading svg{
  color: var(--niceBlue);
  display: block;
}

.success svg.success{
  color: var(--greenfont3);
  display: block;
}

.fail svg.fail{
  color: var(--error-red);
  display: block;
}

.totalScreenBackgroung {
  position: relative;
  margin: 0 auto;
  min-height: 85vh;
  margin: 0 auto;
  background-size: contain;
  color: var(--body-background-color);
}

.sectionQuejas  button {
  border: none;
  background-color: var(--orange1);
  color: var(--body-background-color);
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: var(--fontSizeM);

}

.sectionQuejas form  button {
  margin: 1em 1em 1em auto;

}


.sectionQuejas legend {
 
  padding: 0 1em;

}

.sectionQuejas fieldset {
  padding: 1em;
  margin-bottom: 1em;
  border-color: var(--olive-background-green);
  background-image: url(../../../public/images/blue_backg.png);
}

.sectionQuejas form::before {
  content: " ";
  position: absolute; 
  width: 11em;
  display: block;
  top: 16em;
  left: 0;
  transform: translate(-50%, -33%);
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(../../../public/images/hojas4.png);
  background-size: contain;
  z-index: -1;
  aspect-ratio: 539/741;
}

.sectionQuejas label {
  text-align: left;
  font-weight: bold;
}


.sectionQuejas form {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: auto ;
  padding: 1em 1em 6em 1em;
  z-index: 2;

  position: relative;
}

.sectionQuejas input[type=text], .sectionQuejas input[type=email], .sectionQuejas  textarea {
  width: 100%;
}

.sectionQuejas label {
  padding-right: 1em;
}


.sectionQuejas textarea {
  margin: 1em 0 0.5em;
  min-height: 5em;
}

.sectionQuejas textarea, .sectionQuejas input, .sectionQuejas select {
  padding: 0.5em;
}

.control {
  display: flex;
  flex-direction: row;
  text-align: left;

  align-items: center;
  padding: 0.4em 0;
}

.controlVertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.4em 0;
}


.sectionQuejas .decorBottom {
  position: absolute  ;
  right: -1em;
  bottom: -1em;
  z-index: 1;
  background-image: url(../../../public/images/hoja1.png), url(../../../public/images/hojasTansp1.png);
  background-size: 6em, 7em;
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 8em;
  width: 7em;
}