section.section7 {
  outline: none;
  min-height: min-content;
  background-color: #0475b5;
  text-align: center;

  color: white;

}

section.section7 h2{
  padding: 1.5em;
}
/* 
section.section6 p{
  margin-left: 50%;
  font-size: 0.75em;
  padding: 0 1em;
} */

.totalScreenBackgroung {

  position: relative;
  margin: 0 auto;
  /* min-height: 70vh; */
  max-width: 800px;
  min-height: 338px;
  margin: 0 auto;
  background-size: contain;
}

.aims {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.aims li {
  padding: 1em 1em 1.5em 9.5em;
  position: relative;
}

.aims li::after {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: " ";
  display: block;
  height: 100%;
  width: 7em;
  top: 0;
  left: 1em;
}

.aims li:nth-child(1)::after {
  background-image: url(../../../public/images/map1.png);
}


.aims li:nth-child(2)::after {

  background-image: url(../../../public/images/map2.png);

}
