section.section6 {
  outline: none;
  min-height: min-content;
  background-color: #0475b5;
  text-align: center;

  color: white;

}

section.section8 h2{
  padding: 1.5em;
}

.totalScreenBackgroung {

  position: relative;
  margin: 0 auto;
  /* min-height: 70vh; */
  max-width: 800px;
  min-height: 338px;
  margin: 0 auto;
  background-size: contain;
}
