section.section6 {
  outline: none;
  min-height: min-content;
  text-align: center;

  background-image:url(../../../public/images/croc.png),  url(../../../public/images/hojasTansp1.png) ;
  background-size: auto 14em, 12em;;
    background-position: left -10em bottom -2em, bottom -1em right -1em;
  background-repeat: no-repeat;
  background-attachment: local, fixed;
  position: relative;




}

.layerBackGround {
  width: 100%;
  height: 100%;
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: 1;
}


/* 
section.section6 p{
  margin-left: 50%;
  font-size: 0.75em;
  padding: 0 1em;
} */

.totalScreenBackgroung {

  position: relative;
  margin: 0 auto;
  /* min-height: 70vh; */
  max-width: 800px;
  min-height: 338px;
  margin: 0 auto;
  background-size: contain;
}

.totalScreenBackgroung ol {
  padding: 0 1em 5em;
}

.totalScreenBackgroung ol li {
  margin-bottom: 1em;
  text-align: right;
  margin-bottom: 1em;
  text-align: right;
  padding-right: calc(40% + 2em);
  padding-left: 2em;
  min-height: 6em;
  position: relative;
  font-size: 1.2em;
  background-color: var(--olive-green);
}

.totalScreenBackgroung ol li::after {
  position: absolute;
  width: 40%;
  top: 0;
  right: 0;
  content: " ";
  height: 100%;
  background-size: cover;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  background-position: center;
}

.totalScreenBackgroung ol li:nth-child(1):after {
  background-image: url(../../../public/images/honduras1.jpeg);
}

.totalScreenBackgroung ol li:nth-child(2):after {
  background-image: url(../../../public/images/honduras2.png);
}

.totalScreenBackgroung ol li:nth-child(3):after {
  background-image: url(../../../public/images/mexico1.png);
}
/* 
.wave {
  display: block;
  position: relative;
  min-height: 40px;
  width: 100%;
  background-image: url(../../../public/images/backgreen.png);
  transform: scale(1, 1);
  margin-bottom: 40px;
}

.wave:before {
  content: " ";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: #fcf9ee;
  right: -25%;
  top: 20px;

}

.wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-image: url(../../../public/images/backgreen.png);
  left: -25%;
  top: -240px;
  clip-path: ellipse(100% 15% at -15% 100%);
} */

/* 
.wcontainer {
  position: relative; overflow: hidden; width: 200px; height: 300px; background-color: #161f6e;
}

.wdivider {

  position: absolute; left: 26px; top: -100px; width: 300px; height: 500px; border-radius: 100% 0 0 60%; background-color: #52b9c0;
}

.wimage {
position: absolute; left: 60px; top: -100px; width: 300px; height: 500px; border-radius: 50% 0 0 50%; background-color: #000000;
} */

/* 
.wave_vertical {
  display: block;
  position: relative;
  width: 40px;
  height: 100%;
  background: #0475b5;
  transform: scale(1, 1);
  overflow: hidden;
}

.wave_vertical:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 300px;
  height: 100%;
  background-color: #fcf9ee;
  top: -25%;
  left: 20px;

  transform: rotate(90deg);
}

.wave_vertical:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 300px;
  height: 100%;
  background-color: #0475b5;
  top: -25%;
  left: -240px;
  clip-path: ellipse(15% 100% at 100% -15%);
} */
.wave_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 25%;
  z-index: -1;
}

.wave {
  width: 100%;
    height: 100%;
    background: #4aaca7;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.wave:after {
  content: " ";
  position: absolute;
  width: 2em;
  height: 2em;
}

/* .wave:before {
  left: 0;
  border-top-left-radius: 50% 30px;
  border-bottom-left-radius: 50% 30px;
} */

.wave:after {
  right: 0;
    bottom: -1em;
    height: 120%;
    width: 150%;
    transform: translate(50%, -0);
    border-radius: 50%;
    box-shadow: 1px 2px 3px #555 inset;

  background-color: var(--body-background-color);
}

/* To make it responsive and grow with the content, adjust the width of .wave-container and the border radius values as needed. */

/* To make it responsive and grow with the content, adjust the width of .wave-container and the border radius values as needed. */
