.totalScreenBackgroung {
  position: relative;
  margin: 0 auto;
  min-height: 338px;
  margin: 0 auto;
  background-size: contain;
}

.section8 {
  padding: 0;
}

.section8 h2 {
  padding: 1 2em 0;
}

.maiz {
  color: var(--body-background-color);
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 1em;
  margin-top: 12em;
  justify-content: center;
  gap: 1em;
  background-image: url(../../../public/images/processGround.png);
  position: relative;
}

/* .maiz::after {
  position: absolute;
  width: 100%;
  aspect-ratio: 41/12;
  bottom: 96%;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  content: " ";
  z-index: -1;
  background-image: url(../../../public/images/processSky2.svg);
} */

.maizAlign {
  position: relative;
}


.maizAlign .sky{
  position: absolute;
  width: 100%;
  height: 11em;
  bottom: 98%;
  left: 0;
}

.maizAlign .sky img{
  object-fit: cover;
}

.maiz li {
  position: relative;
  text-align: center;
  max-width: 20em;
  width: 49%;

}

.maiz strong {
  position: relative;
  z-index: 2;
  padding: 0.4em 1em;
  background: lightgreen;
  margin: 1.5em auto;
  display: block;
  width: fit-content;
  color: var(--blueOrg4);
  background-color: var(--greenToBlue4);
  border-radius: 2em;
}

.maiz li::after {
  position: absolute;
  height: 14.5em;
  aspect-ratio: 199/261;
  top: 4.5em;
  background-size: contain;
  background-repeat: no-repeat;
  left: 50%;
  content: " ";
  filter: drop-shadow(2px 3px 2px rgba(6, 6, 6, 0.8));
  transform: translate(-50%, -100%);

}

.maiz li:nth-child(1):after {
  height: 11em;
  aspect-ratio: 239/502;
  background-image: url(../../../public/images/maiz1.png);
}

.maiz li:nth-child(2):after {
  background-image: url(../../../public/images/maiz.png);
}

.maizDecor {
  width: 10em;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.maizDecor::before,
.maizDecor::after {
  filter: drop-shadow(2px 5px 3px rgba(6, 6, 6, 0.7));
  position: absolute;
  height: 8em;
  aspect-ratio: 205/323;
  bottom: 100%;
  right: 0;
  opacity: 0.9;
  background-size: contain;
  background-repeat: no-repeat;
  content: " ";
  background-image: url(../../../public/images/maiz3.png);
}

.maizDecor::before {
  opacity: 0.8;
  height: 9em;
  right: auto;
  left: 0;
  background-image: url(../../../public/images/maiz4.png);
}

.subTitle {
  position: absolute;
  top: -12.5em;
  font-weight: bold;
  left: 50%;
  color: var(--blueOrg4);
  background-color: var(--body-background-color);
  transform: translate(-50%, 0);
  padding: 0.5em 1em;
  border-radius: 2em;
}