section.section7 {
  display: flex;
  justify-content: center;
}

.totalScreenBackgroung {

  position: relative;
  margin: 0 auto;
  max-width: 800px;
  min-height: 338px;
  margin: 0 1em;
  background-size: contain;
}

.aims {
  display: flex;
  flex-direction: column;
  width: 100%;

  justify-content: space-between;
  margin: 0 0 2em;
  padding-bottom: 5em;
}

.years {
  z-index: 2;
  position: relative;
}

.aims li {
  padding: 2em 3em 1.5em 10.5em;
  position: relative;
  z-index: 2;
  margin: 1em 0;
}

.aims li::after {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: " ";
  display: block;
  height: 100%;
  width: 8em;
  top: 0;
  left: 1em;
}

.aims li:nth-child(1)::after {
  background-image: url(../../../public/images/map2.png);
}


.aims li:nth-child(2)::after {

  background-image: url(../../../public/images/map1.png);

}

.deerDecor {
  position: absolute;
  aspect-ratio: 163/239;
  height: 15em;
  bottom: -1em;
  left: -2em;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../../public/images/deer.png);

}

.hojasDecor {
  position: absolute;
  aspect-ratio: 238/165;

  height: 7em;
  bottom: -0.7em;
  right: -2em;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../../public/images/hojas14.png);

}