section.section3 {
  outline: none;
  min-height: min-content;
  text-align: center;
  color: white;
  position: relative;
  background-blend-mode: multiply;
  background-image: url(../../../public/images/carton2.png);
}

section.section3 h2 {
  border-radius: 2em;
  padding: 0.5em 1em;
  background-color: var(--greenfont2);
  border-radius: 3em;
  width: fit-content;
  margin: 1em auto;
}

.mapTextDesktop {
  margin-left: 50%;
  padding: 0 1em;
  position: absolute;
  right: 0;
  top: 20%
}

.mapTextMobile {
  padding: 0.5em 0;
}

.totalScreenBackgroung {

  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  margin: 0 auto;
  aspect-ratio: 16/9;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../../public/images/map.png);
}

.mapTextDesktop {
  display: none;
}

.personitas {
  position: absolute;
  width: 2.7%;
  top: 27%;
  left: 18%;

  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1/2;

  background-image: url(../../../public/images/personita1.png);
}

.personitas.personitas2 {
  top: 30%;
  left: 21%;
  background-image: url(../../../public/images/personita2.png);
}

.personitas.personitas3 {
  top: 35%;
  left: 28%;
  background-image: url(../../../public/images/personita3.png);
}

.personitas.personitas4 {
  top: 48%;
  left: 23%;
  background-image: url(../../../public/images/personita4.png);
}

.personitas.personitas5 {
  top: 44%;
  left: 43%;
  background-image: url(../../../public/images/personita5.png);
}

.personitas.personitas6 {
  top: 53%;
  left: 37%;
  background-image: url(../../../public/images/personita6.png);
}

.personitas.personitas7 {
  top: 57%;
  left: 44%;
  background-image: url(../../../public/images/personita7.png);
}

.personitas.personitas8 {
  top: 59%;
  left: 49%;
  background-image: url(../../../public/images/personita8.png);
}

.personitas.personitas9 {
  top: 69%;
  left: 47%;
  background-image: url(../../../public/images/personita9.png);
}

.personitas.personitas10 {
  top: 74%;
  left: 52%;
  background-image: url(../../../public/images/personita10.png);
}


.orgs {
  position: absolute;
  top: 27%;
  left: 18%;
  font-size: 7px;
  
}

.orgs:after,
.orgs:before {
  position: absolute;
  content: " ";

}

.org1 {
  top: 40%;
  left: 9%;
  max-width: 5em;
  transform: translateX(-50%);
  color: var(--blueOrg4);
}

.org2 {
  top: 59%;
  left: 21%;
  max-width: 5em;
  transform: translateX(-50%);
  color: var(--blueOrg4);
}

.org3 {
  top: 78%;
  left: 35%;
  white-space: nowrap;
  transform: translateX(-50%);
  color: var(--blueOrg4);
}

.org4 {
  top: 83%;
  left: 35%;
  white-space: nowrap;

  transform: translateX(-50%);
  color: var(--blueOrg4);
}

.org5 {
  top: 61%;
  left: 57%;
  white-space: nowrap;

  transform: translateX(-50%);
  color: var(--blueOrg4);
}

.org6 {
  top: 67%;
  left: 57%;
  white-space: nowrap;

  transform: translateX(-50%);
  color: var(--blueOrg4);
}

.org7 {
  top: 46%;
  left: 49%;
  white-space: nowrap;

  transform: translateX(-50%);
  color: var(--blueOrg4);
}

.org8 {
  top: 52%;
  left: 49%;
  white-space: nowrap;

  transform: translateX(-50%);
  color: var(--blueOrg4);
}

.org9 {
  top: 63%;
    left: 21%;
    /* white-space: nowrap; */
    transform: translateX(-50%);
    color: var(--blueOrg4);
    max-width: 22em;
  color: var(--blueOrg4);
}

.org10 {
  top: 73%;
  left: 23%;
  white-space: nowrap;
  transform: translateX(-50%);
  color: var(--blueOrg4);
}


@media (min-width: 800px) {
  .org10::after {
    top: -2.5em;
    right: -1em;
    width: 3em;
    height: 2px;
    background-color: var(--blueOrg4);
    transform: rotate(-45deg);
    transform-origin: right;
  }

  .orgs {
    font-size: 14px;
    
  }

  .org9::after {
    top: 50%;
    right: -2em;
    width: 2em;
    height: 2px;
    background-color: var(--blueOrg4);
  }

  .org8::after {
    top: 110%;
    right: 90%;
    width: 2px;
    height: 350%;
    background-color: var(--blueOrg4);

    transform-origin: right;
  }

  .org7::after {
    top: 110%;
    right: 90%;
    width: 2px;
    height: 500%;
    background-color: var(--blueOrg4);

    transform-origin: right;
  }

  .org6::after {
    top: 50%;
    right: 105%;
    width: 150%;
    height: 2px;
    background-color: var(--blueOrg4);
    transform: rotate(-45deg);
    transform-origin: right;
  }


  .org5::after {
    top: 50%;
    right: 105%;
    width: 65%;
    height: 2px;
    background-color: var(--blueOrg4);
    transform: rotate(-45deg);
    transform-origin: right;
  }

  .org4::after {
    top: 50%;
    left: 105%;
    width: 54%;
    height: 2px;

    background-color: var(--blueOrg4);
  }

  .org3::after {
    top: 50%;
    left: 105%;
    width: 54%;
    height: 2px;

    background-color: var(--blueOrg4);
  }

  .org2::after {
    top: 50%;
    left: 105%;
    width: 222%;
    height: 2px;
    background-color: var(--blueOrg4);
  }
  .org1::after {
    top: 50%;
    left: 105%;
    width: 120%;
    height: 2px;
    background-color: var(--blueOrg4);
  }

  /* section.section3 p {
    font-size: 14px;
   
  } */

  .mapTextDesktop {
    display: block;
  }

  .mapTextMobile {
    display: none;
  } 

  section.section3 {
    padding: 0;
  }

  section.section3 h2 {
    position: absolute;
    z-index: 2;
    margin: 0;
    top: 0.5em;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
}
