:root {
  --font-mono: "public sans", "sans-serif"

  /** new **/
  --responsive-media-min-width: 800px;
  --menu-mobile-height: 60px;
  --menu-desktop-height: 144px;
  --menu-desktop-small-height: 72px;

  --olive-green: #d1e28d;
  --olive-background-green: #d2e4cb;
  --olive-background-green2: #93c23d;

  --background-green1: #8bc53f;
  --background-orange1: #f7941c;
  --orange1: #be5211;


  --greenToBlue1: #7ecb29;
  --greenToBlue2: #4aaca7;
  --greenToBlue3: #50ba63;
  --greenToBlue4: #90cb85;

  --blueOrg1: #32bfc2;
  --blueOrg2: #2c70b7;
  --blueOrg3: #2a5292;
  --blueOrg4: #293473;

  --greenfont1: #2fa09d;
  --greenfont2: #126634;
  
  --greenfont3: #338623;

  --niceBlue: #0475b5;

  --orange2: #cf5928;
  --orange3: #f7941c;

  --body-background-color: #fcf9ee;
  --brown1: #553e28;
  --brown2: #553328;

  --fontSizeM: 18px;
  --fontSizeL: 26px;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--body-background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  padding-bottom: 1.5em;
}

h2 {
  text-align: center;
  font-size: var(--fontSizeL);
  padding: 1em 2em 0.5em;
}

/* JM Responsive*/

body {
  font-size: 17px;
}

@media (min-width: 800px) {
  body {
    font-size: 18px;
  }

  :root {
    --fontSizeM: 19px;
    --fontSizeL: 32px;
  }

}