.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  min-width: 100%;
  z-index: 100;


  background-image: url(../../public/images/hojas7.png);
  background-color: var(--body-background-color);

  background-size: auto 27em;
  background-repeat: no-repeat;
  background-position: center top -10em;
  background-blend-mode: hard-light;
}




.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}


h2.whiteH2 {
  color: var(--body-background-color);
  filter: drop-shadow(0 1px 2px #222);
}

h2.greenH2 {
  color: var(--greenfont1);
}


.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}


@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}


/*******
******
******
****** */


h2.whiteH2 {
  color: var(--body-background-color);
  filter: drop-shadow(0 2px 2px #222);
}

.sectionHeight {
  /* min-height: 500px; */
  /* outline: 1px solid red; */
  width: 100%;
  padding-bottom: 1em;
}

.sectionHeight li {
  list-style-type: none;
}

.green_card {
  padding: 1em 0.7em;
  background-color: #b0d673;
  border-radius: 2em;
}



/**  JM Responsive */
.description {
  min-height: var(--menu-mobile-height);

  /* background-color: var(--blue-background-color); */
}


@media (min-width: 800px) {
  .description {
    min-height: var(--menu-desktop-height);
  }
}

